@using Sandbox
@using Sandbox.UI

@namespace OITC

@inherits Panel

@code
{
	protected override int BuildHash()
	{
		if (Game.LocalPawn is not BBPlayer player)
			return 0;

		return System.HashCode.Combine(player.PistolAmmo);
	}
}

<root class="hudbox">
	<img src="ui/bullet.png" width="512" height="512" style="width: 64px; height: 64px;"/>
	<label>
		@{
			if (Game.LocalPawn is not BBPlayer player)
				return;

			var frac = MathX.Remap(player.PistolAmmo, 0, BBPlayer.oitc_max_ammo_held, 0.0f, 1f);
			Style.FontColor = new Color(1, frac, frac, 1);
			@(player.PistolAmmo)
		}
	</label>
</root>