@using Sandbox
@using Sandbox.UI

@namespace OITC

@inherits Panel

@code
{
	protected override int BuildHash()
	{
		if (Game.LocalPawn is not BBPlayer player)
			return 0;

		return System.HashCode.Combine(player.PistolAmmo);
	}
}

<root>
	<label>
		@{
			if (Game.LocalPawn is not BBPlayer player)
				return;

			@($"🔫 {player.PistolAmmo}")
		}
	</label>
</root>