@using Sandbox
@using Sandbox.UI

@inherits Panel

@code
{
	protected override int BuildHash()
	{
		if (Game.LocalPawn is not BBPlayer player)
			return 0;

		return System.HashCode.Combine(player.Health);
	}
}

<root>
	<label>
		@{
			if (Game.LocalPawn is not BBPlayer player)
				return;

			@($"♥️ {player.Health}")
		}
	</label>
</root>