.root {
  background-color: rgba(73, 69, 69, 0.323);
  backdrop-filter: blur(25px);
  padding-left: 3px;
  padding-right: 3px;
  width: 200px;
  height: 30px;
  top: 18px;
  left: 14px;
  border-radius: 6px;
  transition: all 250ms ease;
  align-items: center;
  justify-content: center;
}

.container {
  padding: 15px;
  border-radius: 4px;
  padding: 12px;
  align-items: center;
  justify-content: center;
}

.text {
  color: rgba(235, 236, 219, 0.814);
  font-family: Poppins;
  font-size: 14px;
  font-weight: bold;
  border-radius: 3px;
}
