@using Sandbox
@using Sandbox.UI

@namespace OITC

@inherits Panel

@code
{
	protected override int BuildHash()
	{
		return System.HashCode.Combine(CurrentState);
	}
}

<root>
	<label>
		@CurrentState.TierText
	</label>
</root>