@using Sandbox
@using Sandbox.UI

@namespace OITC

@inherits Panel

@code
{
	protected override int BuildHash()
	{
		return System.HashCode.Combine(BBGame.Current.State.Tier);
	}
}
@{
	SetClass( "toggled", BBGame.Current.State.Tier == GameState.MidGame );
}
<root>
	<label>
		@BBGame.Current.State.Text
	</label>
</root>