$background: #07000099;
$enemy: #ffffff;
$curve: 6px;
$font: Poppins;
$blur-amount: 2px;
$light-text: rgba(255, 255, 255, 0.89);

.box {
    font-family: $font;

    &.blur {
        backdrop-filter: blur(blur-amount);
    }

    &.dark {
        background-color: $background;
    }
}

.rounded-top {
    border-top-left-radius: $curve;
    border-top-right-radius: $curve;
}

.aligned-text {
    align-items: center;
    justify-content: center;
    text-align: center;

    .bold {
        font-weight: bold;
    }

    &.header {
        font-size: 64px;
        font-weight: bold;
    }
}

.pfp {
    border-radius: 100px;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

div {
    color: white;
}
