hud {
    &.devcamera {
        display: none;
    }
}

Crosshair {
    position: absolute;
    left: 50%;
    top: 50%;
    background-color: white;
    width: 4px;
    height: 4px;
    margin-left: -2px;
    margin-top: -2px;
    border-width: 1 px;
    border-color: black;
    transition: all 20ms ease-in;
}

.hudbox {
    position: absolute;
    bottom: 2%;
    background-color: rgba(black, 0.0);
    color: white;
    font-size: 64px;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 11px;
    width: auto;
    height: 85px;
    overflow: hidden;
    border-radius: 4px;
}

Ammo {
    flex-direction: row-reverse;
    right: 2%;
    bottom: 2%;
    opacity: 0.8;
}

DebugPanel {
    position: absolute;
    background-color: rgba(black, 0.5);
    backdrop-filter: blur(12px);
    left: 25px;
    bottom: 48px;
    top: 25px;
    font-family: Poppins;
    font-size: 32px;
    font-weight: thin;
    color: whitesmoke;
    height: 50;
    padding: 15px;
    align-items: center;
    border-radius: 32px;
    transition: width 50ms ease-in;
}

HudGameState {
    position: absolute;
    background-color: rgba(black, 0.5);
    color: rgba(255, 255, 255, 0.89);
    backdrop-filter: blur(42px);
    left: 50%;
    top: 25%;
    width: 300px;
    margin-left: -150px;
    height: 4%;
    padding: 6px;
    font-family: Poppins;
    font-size: 24px;
    font-weight: normal;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    transition: all 500ms ease-in;

    &.toggled {
        opacity: 0;
    }
}

RestartTimer {
    opacity: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
    color: rgba(255, 255, 255, 0.966);
    backdrop-filter: blur(42px);
    left: 50%;
    top: 35%;
    width: 200px;
    height: 100px;
    padding: 6px;
    margin-left: -100px;
    font-family: Poppins;
    font-size: 64px;
    font-weight: normal;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    transition: all 500ms ease-in;

    &.active {
        opacity: 1;
        background-color: rgba(0, 0, 0, 0.562);
    }
}

Scoreboard {
    background-color: rgba(0, 0, 0, 0.068);
    backdrop-filter: blur(3px);
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: -1;
    transition: opacity 250ms ease-in-out;

    &.active {
        opacity: 1;
        transition: opacity 250ms ease-in-out;
    }

    inner {
        background-image: linear-gradient(to top, rgba(0, 0, 0, 0.521), rgba(0, 0, 0, 0));
        border-radius: 8px;
        width: 900px;
        height: 800px;
        display: flex;
        flex-direction: column;
        width: 50%;
    }

    ScoreboardEntry {
        display: flex;
        margin: 9px;
        flex-direction: row;
        width: auto;
        height: 72px;

        .pfp {
            width: 64px;
            height: 64px;
        }

        .name {
            font-family: Poppins;
            font-weight: 400;
            text-shadow: 1px 2px 3px black;
            font-size: 48px;
            align-self: center;
        }

        .score {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            width: 90px;
            margin-left: auto;
            font-weight: bold;
            backdrop-filter: sepia(70%);
            border: 1px;
            border-color: white;
            border-radius: 2px;

            div {
                display: flex;
                flex-direction: column;
                width: 15px;
                justify-content: center;
                align-content: center;
            }
        }
    }
}
