@using System
@using Sandbox.UI
@namespace OITC

@inherits Panel
@attribute [StyleSheet("/ui/RestartTimer/RestartTimer.scss")]

@code
{
	public static RealTimeUntil UntilRestart { get; set; }

	protected override int BuildHash()
	{
		return System.HashCode.Combine(Time.Delta);
	}
}

@{
	SetClass("active", UntilRestart > 0.7f);
}

<root class="box blur dark">
	<label class="aligned-text" id="countdown" text=@MathF.Abs(UntilRestart.Relative).ToString("0")></label>
</root>