@import "ui/style.scss";

RestartTimer {
    top: 25%;
    opacity: 0;
    position: absolute;
    min-width: 190px;
    color: $light-text;
    margin-left: -100px;
    font-family: Poppins;
    font-size: 64px;
    font-weight: bold;
    transition: all 500ms ease-in;
    justify-content: center;
    &.active {
        opacity: 1;
    }
}
