Crosshair {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    .reticle {
        position: absolute;
        width: 5px;
        height: 5px;
        border-width: 1 px;
        border-color: white;
        border-radius: 100%;
        transition: all 20ms ease-in;
        opacity: 0;

        &.alive {
            opacity: 1;
        }

        &.target-id {
            transition: all 70ms ease-in;
            /*border-color: mediumvioletred;*/
            background-color: white;
            width: 7px;
            height: 7px;
        }
    }
}
