@import "ui/style.scss";

KillfeedEntry {
    background-color: red;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    width: auto;
    height: auto;
    min-height: 7px;
    opacity: 1;
    transition: transform 0.2s ease-in;
    text-stroke: 1px rgb(50, 50, 50);
    flex-shrink: 0;
    margin-bottom: 5px;

    label {
        font-style: italic;
        padding: 7px;

        &.left {
            color: red;
        }

        &.right {
            color: red;
        }

        &.me {
            color: gold;
        }
    }

    &:intro {
        transform: translateX(100);
    }

    &:outro {
        opacity: 0;
        transition: all 0.6s ease-in;
    }
}
