@import "ui/style.scss";

Scoreboard {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 50%;
    opacity: 0;
    z-index: 1000;
    transition: opacity 250ms ease-in-out;
    pointer-events: all;

    &.active {
        opacity: 1;
        transition: opacity 250ms ease-in-out;
    }

    .label {
        flex-shrink: 0;
    }

    .container {
        background-image: linear-gradient(to top, rgba(0, 0, 0, 0.521), rgba(0, 0, 0, 0.02));
        display: flex;
        flex-direction: column;
        padding: 8px;
        width: 70%;
    }

    #table-container {
        font-family: Poppins;
        height: 32px;
        flex-shrink: 0;
    }

    .score-element {
        font-size: 20px;
        width: 125px;
        padding: 4px;
        font-weight: bold;
    }

    .inner {
        width: 100%;
        display: flex;
        flex-direction: column;
        overflow: scroll;
        flex-shrink: 0;
        padding: 2px;
        scoreboardentry:nth-child(even) {
            background-color: rgba(151, 151, 151, 0.212);
        }

        scoreboardentry:nth-child(odd) {
            background-color: rgba(0, 0, 0, 0.205);
        }
    }

    ScoreboardEntry {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 72px;
        flex-shrink: 0;
        padding: 4px;

        .pfp {
            align-self: center;
            width: 32px;
            height: 32px;
        }

        .name {
            justify-content: flex-start;
            font-family: Poppins;
            font-weight: 400;
            text-shadow: 1px 2px 3px black;
            font-size: 24px;
            flex-grow: 1;
        }

        .score {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            font-weight: bold;
            width: 250px;
            border: 1px;
            border-color: white;
            border-radius: 2px;

            label {
                max-width: 64px;
            }

            div {
                flex-shrink: 0;
                display: flex;
                flex-direction: column;
                width: 15px;
                justify-content: center;
                align-content: center;
            }
        }
    }
}
