@using System;
@using System.Linq;
@using System.Collections.Generic;
@using Sandbox;
@using Sandbox.UI;

@namespace OITC

@inherits Panel
@attribute [StyleSheet("/ui/Scoreboard/Scoreboard.scss")]

@code
{
	protected override int BuildHash()
	{
		var result = 0;

		foreach (var client in Game.Clients)
		{
			if (client.Pawn is not OITC.Player pl)
				continue;
			result = HashCode.Combine(result, client.Ping);
		}
		return result;
	}

	public override void Tick()
	{
		base.Tick();
		SetClass("active", Input.Down(InputButton.Score));
	}
}

<root>
	<div class="container box">
		<div id="header-container" style="display: flex; flex-direction: row; gap: 20px; flex-shrink: 0;">
			<img src="ui/thumbnail_2023.jpg" width="128" height="128"
				 style="width: 128px; height: 128px; border-radius: 100px;" />
			<label class="aligned-text header">One In The Chamber</label>
		</div>
		<div id="table-container">
			<div style="flex-grow: 1;"></div>
			<label class="aligned-text score-element" text="Kills">
			</label>
			<label class="aligned-text score-element" text="Deaths">
			</label>
		</div>
		<div class="inner">
			@{
				// Panel.SortChildren doesn't work for some reason, use Linq.
				foreach (var client in Game.Clients.OrderBy(x => x.GetKills()).Reverse())
				{
					<ScoreboardEntry Client=@client>
					</ScoreboardEntry>
				}
			}
		</div>
	</div>
</root>