@using System;
@using Sandbox;
@using Sandbox.UI;

@namespace OITC

@inherits Panel
@attribute [StyleSheet("/ui/Scoreboard/Scoreboard.scss")]

@code
{
	protected override int BuildHash()
	{
		return HashCode.Combine(Game.Clients.Count);
	}

	public override void Tick()
	{
		base.Tick();
		SetClass("active", Input.Down(InputButton.Score));
		SetClass("active", true);
	}
}

<root>
	<div class="container box rounded-top">
		<label class="header">One In The Chamber</label>
		<div class="inner">
			@{
				foreach (var client in Game.Clients)
				{
					<ScoreboardEntry Client=@client>
					</ScoreboardEntry>
				}
			}
		</div>
	</div>
</root>