@using System;
@using Sandbox;
@using Sandbox.UI;

@namespace OITC
@inherits Panel

@code
{
	public IClient Client { get; set; }

	protected override int BuildHash()
	{
		return HashCode
		.Combine(Client.GetInt("kills"), Client.GetInt("deaths"), Client.Name.FastHash());
	}
}

@{

}

<root>
	<div class="pfp" style="background: url( avatar:@Client.SteamId ); "></div>
	<label class="name">@(Client.Name)</label>
	<div class=" score">
		<div>
			<label class="name"
				style="color:white; font-size: 32px; align-self: center;">@Client.GetInt("kills")</label>
		</div>
		<div style="width: 3%; background-color: white;"></div>
		<div>
			<label class="name"
				style="color:white; font-size: 32px; align-self: center;">@Client.GetInt("deaths")</label>
		</div>
	</div>
</root>
