@using System;
@using System.Linq;
@using System.Collections.Generic;
@using Sandbox;
@using Sandbox.UI;

@namespace OITC

@inherits Panel
@attribute [StyleSheet("/ui/Scoreboard.scss")]

@code
{
	protected override int BuildHash()
	{
		int value = 0;
		foreach(var c in Game.Clients)
		{
			value = HashCode.Combine(c.GetKills(), c.GetDeaths(), c.Name.FastHash(), c.Ping);			
		}
		return value;
	}

	public override void Tick()
	{
		base.Tick();
		SetClass("active", Input.Down(InputButton.Score));
	}
}

<root>
	<div class="container box">
		<div id="header-container" style="display: flex; flex-direction: row; gap: 20px; flex-shrink: 0;">
			<img src="ui/thumbnail_2023.jpg" width="128" height="128"
				 style="width: 128px; height: 128px; border-radius: 100px;" />
			<div style="display: flex; flex-direction: column;">
				<label class="aligned-text header">One In The Chamber</label>
				<label style="font-size: 16px;" text=@Game.Server.ServerTitle></label>
				<label style="font-weight: bold;" text=@($"Players: {Game.Clients.Count} / {Game.Server.MaxPlayers}")></label>
			</div>
		</div>
		<div id="table-container">
			<div id="table-spacer" style="flex-grow: 1;"></div>
			<div style="flex-shrink: 1;">
				<label class="aligned-text score-element" text="Kills"></label>
				<label class="aligned-text score-element" text="Deaths"></label>
				<label class="aligned-text score-element" text="Ping"></label>
			</div>
		</div>
		<div class="inner">
			@{
				// Panel.SortChildren doesn't work for some reason, use Linq.
				foreach (var client in Game.Clients.OrderBy(x => x.GetKills()).Reverse())
				{
					<ScoreboardEntry EntryClient=@client>
					</ScoreboardEntry>
				}
			}
		</div>
	</div>
</root>