@using System;
@using Sandbox;
@using Sandbox.UI;

@namespace OITC

@inherits WorldPanel
@attribute [StyleSheet("/ui/Nameplate/Nameplate.scss")]

@code
{
	public long SteamId { get; set; }
	public string Name { get; set; }

	public Nameplate(string name)
	{
		Name = name;
		var width = Name.Length * 150;
		if (Name.Length <= 3)
			width *= 2;

		PanelBounds = new Rect(-width / 2, -100, width, 230);
	}

	protected override int BuildHash()
	{
		return HashCode.Combine(SteamId, Name.FastHash());
	}
}

<root class="box dark">
	<img class="pfp" src="avatar:@SteamId" />
	<label class="bold">@Name</label>
</root>