@using System;
@using Sandbox;
@using Sandbox.UI;

@namespace OITC

@inherits WorldPanel
@attribute [StyleSheet("/ui/Nameplate/Nameplate.scss")]

@code
{
	public long SteamId { get; set; }
	public string Name { get; set; }

	private Panel _avatar { get; set; }

	public Nameplate(string name)
	{
		Name = name;
		var width = Name.Length * 115;
		PanelBounds = new Rect(-width / 2, -100, width, 250);
	}

	protected override int BuildHash()
	{
		return HashCode.Combine(SteamId, Name.FastHash());
	}

	public override void Tick()
	{
		base.Tick();
		_avatar.Style.SetBackgroundImage($"avatar:{SteamId}");
	}
}

<root class="panel">
	<panel @ref=_avatar class="avatar"></panel>
	<label class="bold">@Name</label>
</root>