@using System;
@using Sandbox;
@using Sandbox.UI;
@using System.Collections.Generic;

@namespace OITC
@inherits WorldPanel

@code
{
	public long SteamId { get; set; }
	public string Name { get; set; }

	private Panel _avatar { get; set; }

	protected override int BuildHash()
	{
		return HashCode.Combine(SteamId);
	}

	public override void Tick()
	{
		base.Tick();
		_avatar.Style.SetBackgroundImage($"avatar:{SteamId}");
	}
}

<root>
	<panel @ref=_avatar class="avatar"></panel>
	<label>@Name</label>
	<style>
		Nameplate {
            background-color: rgb(89, 89, 101, 0.30);
			border: 4px rgba(255, 255, 255, 0.03);
            text-stroke: 1px rgb(50, 50, 50);
			justify-content: center;
			align-content: center;
			transition: all 250ms ease-in-out;
			transform:scale(1);

			&:intro {
				transform: scale(0);
			}

			&:outro {
				transform: scale(0);
			}

			label {
				align-self: center;
				text-align: center;
				color: red;
				text-stroke: 9px black;
				font-weight: 100;
				font-size: 64px;
			}
		}
	</style>
</root>

